
<% if @question.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@question.errors.count, "个错误") %></h2>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for(question) do |f| %>
  <%= f.input :issue,  label: '问题'%>
  <%= f.input :description, label: '问题说明（可选）：', input_html: { id: 'editor' } %>
  <%= f.input :topic_names, label: '选择话题：' %>

  <%= f.button :submit, class: "btn-primary", value: '发布' %>
  <%=	link_to "返回", root_path, class: "btn btn-default ", id: "back1" %>
<% end %>
