<% title(@question.issue) %>


<div class="row" id="admin">
  <div class="col-md-9">
    <div class="page-header" id="head1">
    <header>
      <h3 id="issue"><%= @question.issue %></h3>
      <ul class="actions">
        <li>
          <%= link_to fa_icon("pencil") + " 修改问题", edit_question_path(@question), class: "btn btn-default" %>
        </li>
        <li>
      </ul>
    </header>
      <header>
        <%= sanitize(@question.description) %>
      </header>
    </div>
    <div id="head2">
      <h4><%=  %>个回答</h4>
    </div>
    啊哈哈


  </div>
  <div class="col-md-3">
    <%= link_to "关注问题", "#", class: "btn btn-primary" %>

  </div>
</div>

<header>
  <h1></h1>

</header>



