
<div class="row" id="admin">
  <div class="col-md-7">
    <div class="page-header answerpage-topic" id="head1">
			<header>
	      <% if @topics.any? %>
		      <tr id="topics">
		        <td><%= render @topics, question: @question %></td>
		      </tr>
	      <% end %>
	    </header>	
		</div>
		<h4><%= link_to @question.issue, question_path(@question) %></h4>
		<% @answer_comment = @answer.comments.build %>
		<div class="answer-vote-bar">
		  <%= link_to fa_icon("caret-up") + @answer.votes.to_s, vote_answer_path(@answer, value: 1), method: "post", class: "btn btn-default" %>
		  <%= link_to fa_icon("caret-down"), vote_answer_path(@answer, value: -1), method: "post", class: "btn btn-default answer-vote-down" %>
		</div>
		<h5><%= link_to @answer.replier.name, @answer.replier %></h5>
		<%= sanitize(@answer.content) %>
		<div class="state">
      <a href="<%= question_answer_path(@question, @answer) %>"><%= @answer.updated_at.strftime("发布于%Y-%m-%d")  %></a>
      <a href="#" class="add_comment"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i> 
      	<% if @answer.comments.count > 0 %>
          <%= @answer.comments.count %>个评论 
        <% else %>
          添加评论
        <% end %>
      </a>
      <a href="#"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i> 感谢</a>
      <a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> 分享</a>
      <a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"> 收藏</i></a>
      <a href="#">• 没有帮助</i></a> 
      <a href="#">• 举报</i></a> 
      <a href="#">• 作者保留权利</i></a>
    </div>
    <ul class="list-group">
      <% @answer.comments.all.each do |answer_comment| %>
        <%= render partial: 'comments/panel', locals: { comment: answer_comment }  %>
      <% end %>   
      <%= render 'comments/form', ques_or_ans: @answer, comment: @answer_comment  %>
    </ul> 
	</div>	
</div>

<script type="text/javascript">
	(function($) {
		$('a.add_comment').click(function(e){
			e.preventDefault();
			$(this).parent(".state").next("ul.list-group").toggle()
		})
	})(jQuery);
</script>