<% answer = activity.trackable.answer %>
<% question = answer.question %>
<% answer_comment = answer.comments.build %>
<% author = answer.replier %>

<div class="answer-vote-bar home-vote">
  <%= link_to fa_icon("caret-up") + answer.votes.to_s, vote_answer_path(answer, value: 1), method: "post", class: "btn btn-default link-home-vote" %>
  <%= link_to fa_icon("caret-down"), vote_answer_path(answer, value: -1), method: "post", class: "btn btn-default answer-vote-down link-home-vote" %>
</div>

<div class="activity-owner">赞成了一个回答 </div>
<% if activity.trackable %>
	<div class="activity-link"><%= link_to question.issue, [question, answer] %></div>
  <div class="activity-author"><%= link_to author.name, user_path(author) %></div>
	<%= sanitize(answer.content) %>
	<div class="state">
    <a href="<%= question_answer_path(question, answer) %>"><%= answer.updated_at.strftime("发布于%Y-%m-%d")  %></a>
    <a href="#" class="add_comment"><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i> 添加评论</a>
    <a href="#"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i> 感谢</a>
    <a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i> 分享</a>
    <a href="#"><i class="fa fa-bookmark-o" aria-hidden="true"> 收藏</i></a>
    <a href="#">• 没有帮助</i></a> 
    <a href="#">• 举报</i></a> 
    <a href="#">• 作者保留权利</i></a>
  </div>
  <ul class="list-group">
    <% answer.comments.all.each do |answer_comment| %>
      <%= render partial: 'comments/panel', locals: { comment: answer_comment }  %>
    <% end %>   
    <%= render 'comments/form', ques_or_ans: answer, comment: answer_comment  %>
  </ul>      
<% else %>
	--回答已删除--
<% end %>